@import url('https://fonts.googleapis.com/css?family=Euphoria+Script|PT+Serif|Rouge+Script');

body{
  font-family: 'PT Serif', serif;
}
h1,h2,h3,h4,h5,h6, p{
  text-align: center;
}
.logo{
  font-family: 'Euphoria Script', cursive;
  color: #6200EA;
  font-size: 40px;
  padding: 0;
}
.logo span{
  font-size: 72px !important;
}
.logo a{
  text-decoration: none;
  list-style-type: none;
}
/*for mobile phones*/
@media only screen and (max-width:800px) {
  ul{
    float: none !important;
    text-align: center;
    margin: 0 auto;
    padding: 0 !important;
    border-radius: 0 !important;background: rgba(255, 255, 255, 0.8) !important;
  }
  .logo{
    text-align: center;
  }
  .topMenu{
    padding: 0 !important;
  }
  li{
    padding: 5px 20px !important;
  }
  a{
    padding: 0 !important;
  }
  .assortedProjects{
    display: none;
  }
  p, h1, h3, h4, h5, h6{
    float: center;
  }
}

/*header and navigation*/
.header{
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 9999;
  font-family: 'Euphoria Script', cursive;
  font-size: 26px;
  padding: 0;
}
ul{
  float: right;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
li{
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  padding: 4px 30px;
}
a{
  padding: 30px;
  color: #6200EA;
}
a:hover{
  color: green;
}
.mainCanvas{
  padding: 0;
  overflow: hidden;
  position: absolute;
}
.landingPage{
  position: fixed;
  padding: 0;
}
.landigGlassCover{
  height: 60vh;
}

/*sevice page*/
.iconBackground:hover, .socialMedia a:hover {
  transform: rotate(-360deg);
  transition: .80s;
}
.ourServices{
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
}
.servicesHeader, .aboutHeader, .contactsHeader{
  border-bottom: 2px solid #6200EA;
}
.jamkaraServives{

}
.services{
  margin-top: 5px;
  padding: 0;
  /*border: 1px dashed orange;*/
}
.iconBackground{
  /*border: 1px dashed orange;*/
  /*margin-top: 15px;*/
  padding: 40px;
  border-radius: 100%
}
.pageHeading{
  padding-top: 20px;
  float: none !important;
  margin: 0 auto;
}

/*about page*/
.about{
  padding: 0;
}
.aboutBackground{
  background-color: #EEEEEE;
  padding-top: 30px;
  padding-bottom: 30px;
}
.aboutJamkara{
  padding-top: 40px;
  float: none !important;
  margin: 0 auto;
}
.aboutButton{
  padding: 25px;
  text-align: center;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
}
.missionVision{
  display: none;
  margin-bottom: 15px;
}
.vision, .mission{
  margin-top: 15px;
}
.missionVisionTxt p{
  font-family: 'Rouge Script', cursive;
  font-size: 26px;
}

/*projects page*/
.projectsSection{
  padding: 5% 20px;
  background-color: #ffffff;
}
.assortedProjects{
  padding: 0;
}
.assortedProjects h3,.assortedProjects p{
  text-align: left !important;
}
.project {
  padding: 4px;
  position: relative;
}
.image {
  padding: 0;
  opacity: 1;
  display: block;
  height: 33.33%;
  transition: .5s ease;
  backface-visibility: hidden;
}
.project img{
  max-width: 100%;
}
.middle {
  padding: 0;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.project:hover .image {
  opacity: 0.3;
}
.project:hover .middle {
  opacity: 1;
}
.text {
  background-color: rgba(98, 0, 234, 0.5);
  color: white;
  font-size: 16px;
  padding: 5px 32px;
  border-radius: 5px;
}
.project:hover{
  background-color: rgba(255, 255, 255, 0.5);
}
.projectImageFrame{
  margin-top: 100px;
  padding-top: 40px;
}
.projectImage{
  padding: 0;
  background-image: url("../assets/building.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.projectsButton{
  float: right !important;
}
/*contacts page*/
.contacts{
  padding: 0;
  background-image: url("../assets/roadConstruction.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 100;
}
.blurBackground{
  background: rgba(255, 255, 255, 0.8);
}
.whyWork{
  padding-top: 30px;
  text-align: center;
  /*border: 1px dashed orange;*/
}
.contactsDetails{
  margin: 15px;
  padding: 20px;
  text-align: center;
  display: none;
}
.contactsDetails a{
  text-decoration: none;
  list-style-type: none;
}
.contactsButton1{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;
  /*border: 1px dashed orange;*/
}
.querieStatement{
  padding: 15px;
}
.contactsForm{
  float: none !important;
  margin: 0 auto;
  padding:15px;
  display: none;
}
.contactsForm input, .contactsForm textarea{
  padding: 20px;
  margin: 20px;
  background: rgba(255, 255, 255, 0);
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.contactsButton2{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;
}
.formButton{
  color: #000000;
  padding: 5px 20px !important;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #000000;
}

/*projects page css*/
/*-->start*/
.projectsPage{
  background-image: url("../assets/whiteSand.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
}
.floatingText{
  padding: 10px 32px;
  border-radius: 10px;
  z-index: 1000;
  position: absolute;
  top: 70%;
  left: 10%;
  background-color: rgba(255, 255, 255, 0.5);
}
.projectGlass{
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.7);
}
.projectNoGlass{
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.7);
}
.projectsImages{
  margin-top: 3%;
  padding: 0;
  padding: 5px;
}
.projectsImage1{
  padding: 0;
  height: 366px;
  margin-bottom: 8px;
}
.frame1{
  padding-right: 4px;
}
.frame2{
  padding-right: 4px;
}
.projectsImage2{
  padding-left: 0;
  padding-right: 4px;
  height: 184px;
}
.projectsImage3{
  padding-left: 4px;
  padding-right: 0;
  height: 184px;
}
.projectsImagesCombined{
  padding: 0;
}
.projectsInfo{
  margin-top: 3%;
  padding: 10px 20px;
}
.projectsHeader{
  padding: 0;
  border-bottom: 2px solid #651FFF;
  margin-bottom: 15%;
}
.projectsBar{
  border-bottom: 20px solid #651FFF;
  border-right: 20px solid transparent;
}
.projectsTitle{
  letter-spacing: 2px;
}
.projectsText p{
  padding: 0;
  text-align: left !important;
}
img{
  width: 100%;
}
/*---> End*/

.footerSection{
  color: #cccccc;
  padding: 20px 0;
  text-align: center;
  background-color: #000000;
}
.socialMedia{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.socialMedia a{
  margin: 0 60px;
}
.motto{
  font-size: 16px;
  text-shadow: 5px 5px 20px #ffffff;
}
.policyCredits{
  margin-top: 40px;
  padding-top: 10px;
}
.credits{
  font-family: 'Euphoria Script', cursive;
  font-size: 18px;

  /*THE END!!*/
